__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.pyc

venv/
.env
.python-version
.pytest_cache/
.coverage
htmlcov/

# OS / editor junk
.DS_Store
Thumbs.db
*.swp

Backend/static/profile_photos/
Backend/static/selfies/